{%extends 'base.html' %}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{% block styles %}
    {{block.super}}
  {% endblock %}
<br>
<br>
<br>

  <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <div class="aboutus text-center ">
                         <div class="wrap">
                          <h2 class="abt">I'm all about the code,I'm all about creating new things.</h2>
                          <h2> Unless of course, I'm helping save the world, Batman occasionally calls in for my help, yes!I absolutely love comics!</h2>
                          
                        </div>
                    </div>
                </div>
            </div>


  {% endblock %}
