{%extends 'base.html' %}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{% block styles %}
    {{block.super}}
  {% endblock %}

  <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <div class="aboutus text-center ">
                         <div class="wrap">
                            <h2 class="dev">Email: ngashiedavid@gmail.com </h2>
                              <h2 class="dev"> <a href="https://github.com/DavidNganga/">Github</a>  </h2>





                        </div>
                    </div>
                </div>
            </div>

  {% endblock %}
