{%extends 'base.html' %}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{% block styles %}
    {{block.super}}
  {% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                  <div class="aboutus text-center ">
                       <div class="wrap">
<img src="/static/images/google.jpg" alt="" style="height:90px;width:90px; border-radius:50%; display:inline;">
                          <h2 class="dev">David Ng'ang'a</h2>
                          <hr>
                          <p class="pt"> Software Developer   </p>
                      </div>
                  </div>
              </div>
          </div>






  {% endblock %}
