<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul id="navnav">
                <li id="bran">  <a class="navbar-brand" href="{% url 'index' %}">PORTFOLIO</a>  <a class="navbar-brand" href="{% url 'viewproject' %}">VIEW PROJECTS</a> </li>




                <div class="col-sm-4 col-md-4 ">


                      </div>

              </nav>
</body>
</html>
