{%extends 'base.html'%}
{% load static%}
{% block content %}
{% for project in projects %}
      <div class="container mt-2">
        <div class="row">
          <div class="col- mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
            <div class="profile p-4" style="white-space:nowrap">

              <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;"><strong> {{project.name}}</strong> </p>
              <br>
              <br>
              <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;"><strong>  </strong> </p>



            </div>
          </div>
        </div>

    </div>
{%endfor%}
{%endblock%}
