{%extends 'base.html'%}
{% load static%}
{% block content %}
{% for project in projects %}

<div class="container">
<div class="row">
  <div class="col-md-d col-md-offset-2">

    <div class="card" style=" max-width: 180rem;">
    <img class="img" src="{{project.project_screenshot.url}}" alt="" style="width:260px;">
    <div class="card-body">
    <h2 class="name">{{project.name}} </h2>
    <h2> {{project.description}}  </h2>
    <a href="{{project.link_url}}" class="btn btn-info">View Project</a>
    </div>
    </div>
                      <br>
                      <br>
</div>


{%endfor%}
{%endblock%}
